{% extends 'index.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<head>
    {% block title %}<title>Cart</title>{% endblock %}
</head>
{% block body %}
        <div class="cart-table-area section-padding-150" style="margin-top: 150px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="cart-title mt-50">
                            <div class="alert alert-danger">
                                Welcome : {{request.user.username}}
                            </div>
                            <h2>Your Orders</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>User Name</th>
                                        <th>User Email</th>
                                        <th>User Mobile No</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Size</th>
                                        <th>Quantity</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in Data %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{i.order_product.img1.url}}" alt="Product"height="450px" width="300px" class="img-fluid"></a>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.chname}}</span>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.email}}</span>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.mobile}}</span>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{i.order_product.name}}</h5>
                                        </td>
                                        <td class="price">
                                            <span>{{i.order_product.price}}</span>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_product.size}}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <h6>Qty </h6>
                                                <h5>{{i.count}}</h5>


                                            </div>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.address}}</span>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.city}}</span>
                                        </td>
                                        <td class="size">
                                            <span>{{i.order_address.state}}</span>
                                        </td>

                                        <td class="btn">
                                            <a href="/dispatchedorder/{{i.ordernumber}}/">Dispatch Order</a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>