{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
            <div class="container-fluid">
                <div class="row">
<div class="alert alert-primary">
                                <h2>Edit Product</h2>
                            </div>

                            <form action="#" method="post" >
                                {% csrf_token %}
                                <div class="row">


                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name="name" value="{{Data.name}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="description" value="{{Data.description}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="number" class="form-control" name="basicPrice" value="{{Data.basicPrice}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="number" class="form-control mb-3" name="discount" value="{{Data.discount}}">
                                    </div>

                                        <button type="submit" class="btn btn-info">Edit</button>
                                    </div>

                            </form>
                            {% if messages %}
                                <div class="alert alert-success">
                                {% for i in messages %}
                                    {{i}}
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->


{% endblock body %}
</html>